
*:focus {
  outline: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 10px 70px;
  display: flex;
  background: rgb(16, 56, 148);
  align-items: center;
}

.nav h1 {
  color: #fff;
  margin: 0;
  font-size: 40px;
}
.nav .nav-search {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid rgb(195, 194, 195);
    height: 39px;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 16px;
}

.nav .nav-search button{
    color: rgb(84, 104, 182);
    border: 1px solid rgb(195, 194, 195);
    height: 39px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 20px;
}
.nav .nav-search button:hover{
  background-color: rgb(204, 197, 202);
  color: rgb(40, 55, 153);
}
 
.nav .links{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom: 10px;
}

.nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav ul a {
    text-decoration: none;
    color: rgb(236, 234, 238);
    cursor: pointer;
}

h1 a{
  color: rgb(239, 237, 241);
  text-decoration: none;
}

.suggested-search{
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #f8f8fa;
  width: 300px;
}
.suggested-search li {
  padding:5px;
  border: 1px solid #ddd;
}
.suggested-search li a{
  cursor: pointer;
  color: rgb(243, 239, 247);
  color:#120f73;
}