ul{
    margin: 0;
    padding: 0;
}
.footer {
    padding: 10px;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: blueviolet;
    text-decoration: none;
}
.footer p{
    margin-top: 20px;
}