.product-details{
    margin-top: 50px;
    margin-bottom: 80px;
}
.product-details .product-img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.product-color{
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.quantity-group{
    margin-top: 20px;
}
.quantity-group button{
    padding:4px 16px;
}
.quantity-group input{
    padding:4px 16px;
    align-items: center;
    width: 50px;
}
.quantity-group .min{
    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.quantity-group .plus{
    
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}