<div class="row product-details container" *ngIf="productData">
<div class="col-sm-6">
<img  class="product-img" src="{{productData.image}}" alt="">
</div>
<div class="col-sm-6">
    <div class="details">
        <h1>{{productData.name}}</h1>
        <h3>Price : {{productData.price}}</h3>
        <div>Color :<h3 [style.backgroundColor]="productData.color" class="product-color"></h3></div>
        <h6>Category : {{productData.category}}</h6>
        <h6>Description : {{productData.description}}</h6>
        <button class="form-button">Buy Now</button>
        <button *ngIf="removeCart" class="form-button" (click)=" removeToCart(productData.id)">Remove to Cart</button>
        <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
        <div class="quantity-group">
            <button class="min" (click)="handleQuantity('min')" >-</button>
            <input type="text" value="{{productQuantity}}" />
            <button class="plus" (click)="handleQuantity('plus')">+</button>

        </div>
    </div>
</div>
</div>