.product-list-wrapper h1{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 24px;;
}

.product-header-image{
    object-fit: contain;
    width: 100%;
    height: 600px;
}
.product-item{
    margin-bottom: 40px;
    border: 1px solid rgb(230, 228, 228);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.product-item img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.product-item .product-details {
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    padding: 15px;
}

.product-item .name-head{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.product-item .name-head:hover{
    color:rgb(30, 29, 136);
    transition: 0.5s linear;
}
.product-item h6{
    text-align: center;
}
.product-item .product-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.product-item .product-footer .view-details{
    padding: 10px 10px;
    background: rgb(26, 25, 142);
    border-radius: 10px;
    color:white;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}
.product-item .product-footer .add-to-cart{
    padding: 10px 10px;
    background: rgb(26, 25, 142);
    border-radius: 10px;
    color:white;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}